<div class="container">
  <h1>Person Form</h1>
  <form (ngSubmit)="loginUser()" #userForm="ngForm">
    <div class="form-group">
      <label for="User Id">User Id</label>
      <input type="text" class="form-control" id="userId" [(ngModel)]="login.userId" name="userId" #name="ngModel" required>
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input type="text" class="form-control" id="password" [(ngModel)]="login.password" name="password" #name="ngModel">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>